.back-street-image {
  background-image: url("../../../assets/images/ui/specials/places/back_street.png") !important;
}

.back-wall-image {
  background-image: url("../../../assets/images/ui/specials/places/back_wall.png") !important;
}

.back-garden-image {
  background-image: url("../../../assets/images/ui/specials/places/back_garden.png") !important;
}

.back-door-image {
  background-image: url("../../../assets/images/ui/specials/places/back_door.png") !important;
}

.back-window-image {
  background-image: url("../../../assets/images/ui/specials/places/back_window.png") !important;
}

.back-window-broken-image {
  background-image: url("../../../assets/images/ui/specials/places/back_window_broken.png") !important;
}

.laundry-room-image {
  background-image: url("") !important;
}

.living-room-image {
  background-image: url("") !important;
}

.kitchen-image {
  background-image: url("") !important;
}
